
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- ========== Meta Tags ========== -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Restan - Food & Restaurant HTML Template ">

    <!-- ========== Page Title ========== -->
    <title>Restan - Food & Restaurant HTML Template </title>

    <!-- ========== Favicon Icon ========== -->
    <link rel="shortcut icon" href="assets/img/favicon.png" type="image/x-icon">

    <!-- ========== Start Stylesheet ========== -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="assets/css/magnific-popup.css" rel="stylesheet">
    <link href="assets/css/flaticon-set.css" rel="stylesheet">
    <link href="assets/css/swiper-bundle.min.css" rel="stylesheet">
    <link href="assets/css/animate.min.css" rel="stylesheet">
    <link href="assets/css/bootstrap-datepicker3.css" rel="stylesheet">
    <link href="assets/css/validnavs.css" rel="stylesheet">
    <link href="assets/css/helper.css" rel="stylesheet">
    <link href="assets/css/unit-test.css" rel="stylesheet">
    <link href="assets/css/shop.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    <!-- ========== End Stylesheet ========== -->

    <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->

</head>

<body>

    <!-- Start Preloader 
    ============================================= -->
    <div id="preloader">
        <div id="restan-preloader" class="restan-preloader">
            <div class="animation-preloader">
                <div class="spinner"></div>
            </div>
            <div class="loader">
                <div class="row">
                    <div class="col-3 loader-section section-left">
                        <div class="bg"></div>
                    </div>
                    <div class="col-3 loader-section section-left">
                        <div class="bg"></div>
                    </div>
                    <div class="col-3 loader-section section-right">
                        <div class="bg"></div>
                    </div>
                    <div class="col-3 loader-section section-right">
                        <div class="bg"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Preloader -->

    <!-- Start Header Top 
    ============================================= -->
    <div class="top-bar-area top-bar-style-one bg-theme text-light">
        <div class="container">
            <div class="row align-center">
                <div class="col-lg-7">
                    <ul class="item-flex">
                        <li>
                             <a href="tel:+4733378901"> 
                                <img src="assets/img/icon/6.png" alt="Icon"> Phone: +4733378901
                            </a>
                        </li>
                        <li>
                            <a href="mailto:name@email.com">
                                <img src="assets/img/icon/7.png" alt="Icon"> Email: food@restan.com
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-5 text-end">
                    <div class="item-flex">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="assets/img/icon/flag.png" alt="Image Not Found">
                                English <i class="fas fa-angle-down"></i>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                              <li><a class="dropdown-item" href="#">Spanish</a></li>
                              <li><a class="dropdown-item" href="#">Arabic</a></li>
                            </ul>
                        </div>
                        <div class="social">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-youtube"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Header Top -->

    <!-- Header 
    ============================================= -->
    <header>
        <!-- Start Navigation -->
        <nav class="navbar mobile-sidenav nav-top-margin navbar-sticky navbar-default validnavs navbar-fixed white no-background nav-border">


            <div class="container d-flex justify-content-between align-items-center">            

                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="index.html">
                        <img src="assets/img/logo-light.png" class="logo logo-display" alt="Logo">
                        <img src="assets/img/logo.png" class="logo logo-scrolled" alt="Logo">
                    </a>
                </div>
                <!-- End Header Navigation -->

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-menu">

                    <img src="assets/img/logo.png" alt="Logo">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                        <i class="fa fa-times"></i>
                    </button>
                    
                    <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                        <li>
                            <a href="Home" class="dropdown-toggle active">Home</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Pages</a>
                            <ul class="dropdown-menu">
                                <li><a href="AboutUs">About Us</a></li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Our Chef</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="Chef">Chef</a></li>
                                        <li><a href="ChefDetails">Chef Details</a></li>
                                    </ul>
                                </li>
                                <li><a href="FoodGallery">Food Gallery</a></li>
                                <li><a href="reservation.html">Reservation</a></li>
                                <li><a href="contact.html">Contact Us</a></li>
                                <li><a href="404.html">Error Page</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="Food-Menu" class="dropdown-toggle" data-toggle="dropdown">Menu</a>
                        </li>
                        <li>
                            <a href="Blog" class="dropdown-toggle" data-toggle="dropdown">Blog</a>
                        </li>
                        <li>
                            <a href="Shop" class="dropdown-toggle" data-toggle="dropdown">Shop</a>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->

                <div class="attr-right">
                    <!-- Start Atribute Navigation -->
                    <div class="attr-nav">
                        <ul>
                            <li class="button"><a href="contact.html">Reservation</a></li>
                        </ul>
                    </div>
                    <!-- End Atribute Navigation -->
                </div>

                <!-- Main Nav -->
            </div>   
            <!-- Overlay screen for menu -->
            <div class="overlay-screen"></div>
            <!-- End Overlay screen for menu -->
        </nav>
        <!-- End Navigation -->
    </header>
    <!-- End Header -->

    <!-- Start Breadcrumb 
    ============================================= -->
    <div class="breadcrumb-area bg-cover shadow dark text-center text-light" style="background-image: url(assets/img/2440x1578.png);">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <h1>Ordered Items</h1>
                    <ul class="breadcrumb">
                        <li><a href="Home"><i class="fas fa-home"></i> Home</a></li>
                        <li>Menu</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb -->
    <style>
        .food-items-row {
            display: flex;
            flex-direction: column; /* Stack items vertically */
            gap: 20px; /* Space between items */
        }
    
        .food-category-item {
            width: 100%; /* Each item takes full width */
            background: #fff; /* Background for better visibility */
            padding: 15px; /* Padding inside the item */
            border: 2px solid #826a45; /* Border for separation */
            border-radius: 5px; /* Rounded corners */
            box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Subtle shadow */
            text-align: center; /* Center text */
        }
    
        .food-category-item h4 {
            margin: 0; /* Remove margin */
        }
    
        .food-category-item p {
            margin: 10px 0; /* Margin for the price */
        }
    
        .food-category-item div {
            display: flex; /* Flex for buttons */
            justify-content: center; /* Center buttons */
            gap: 10px; /* Space between buttons */
        }

        .item-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 10px 0;
            border-bottom: 1px solid #ddd; /* Optional: to separate items */
        }

        .item-container h4 {
            flex-grow: 1; /* Allows the name to take up space */
            margin: 0;
            text-align: left; /* Ensures that the item name starts at the beginning of the line */
        }

        .item-container a {
            text-decoration: none;
            color: inherit;
        }

        .item-quantity {
            flex-grow: 1;
            text-align: center; /* Keeps the quantity centered */
            margin: 0;
        }

        .item-price {
            flex-grow: 0;
            margin: 0;
            text-align: right; /* Ensures that the price stays aligned to the right */
        }

    </style>
    <div class="food-category-area default-padding bottom-less" style="background-image: url(assets/img/shape/16.png);"></div>
        <div class="container">
            <h1>Previously Ordered</h1>
        </div>
    </div>
    <!-- Start Food Category 
    ============================================= -->
    <div class="food-category-area default-padding bottom-less" style="background-image: url(assets/img/shape/16.png);">
        <div class="container">
            <div class="food-items-row">
                <!-- Food items will be dynamically injected here -->
            </div>
        </div>
    </div>
    <!-- End Food Category -->

    <!-- Start Footer 
    ============================================= -->
    <footer>
        <div class="container">
            <div class="footer-style-one bg-dark text-light">

                <div class="row">
                    <!-- Singel Item -->
                    <div class="col-lg-3 col-md-6 footer-item mt-50">
                        <div class="f-item about">
                            
                            <h4 class="widget-title">About Us</h4>
                            <p>
                                Continued at zealously necessary is Surrounded sir motionless she end literature. Gay direction neglected.
                            </p>

                            <ul class="footer-social">
                                <li>
                                    <a href="#">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-youtube"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                </li>
                            </ul>
                    
                        </div>
                    </div>
                    <!-- End Singel Item -->

                    <!-- Singel Item -->
                    <div class="col-lg-3 col-md-6 mt-50 footer-item pl-50 pl-md-15 pl-xs-15">
                        <div class="f-item link">
                            <h4 class="widget-title">Explore</h4>
                            <ul>
                                <li>
                                    <a href="about-us.html">Compnay Profile</a>
                                </li>
                                <li>
                                    <a href="about-us.html">About</a>
                                </li>
                                <li>
                                    <a href="contact-us.html">Help Center</a>
                                </li>
                                <li>
                                    <a href="contact-us.html">Career</a>
                                </li>
                                <li>
                                    <a href="about-us.html">Features</a>
                                </li>
                                <li>
                                    <a href="contact-us.html">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Singel Item -->

                    <!-- Singel Item -->
                    <div class="col-lg-3 col-md-6 footer-item  mt-50">
                        <div class="f-item contact">
                            <h4 class="widget-title">Contact Info</h4>
                            <ul>
                                <li>
                                    <div class="icon">
                                        <i class="fas fa-map-marker-alt"></i>
                                    </div>
                                    <div class="content">
                                        175 10h Street, Office 375 Berlin, De 21562
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fas fa-phone"></i>
                                    </div>
                                    <div class="content">
                                        <a href="tel:2151234567">+123 34598768</a> <br> <a href="tel:2151234567">+554 34598734</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fas fa-envelope"></i>
                                    </div>
                                    <div class="content">
                                        <a href="mailto:name@email.com">food@restan.com</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Singel Item -->

                    <!-- Singel Item -->
                    <div class="col-lg-3 col-md-6 footer-item mt-50">
                        <h4 class="widget-title">Newsletter</h4>
                        <p>
                            Join our subscribers list to get the latest news and special offers.
                        </p>
                        <div class="f-item newsletter">
                            <form action="#">
                                <input type="email" placeholder="Your Email" class="form-control" name="email">
                                <button type="submit"> <i class="fas fa-arrow-right"></i></button>  
                            </form>
                        </div>
                        <fieldset>
                            <input type="checkbox" id="privacy" name="privacy">
                            <label for="privacy">I agree to the Privacy Policy</label>
                        </fieldset>
                    </div>
                    <!-- End Singel Item -->


                </div>
            </div>
        </div>
            
        <!-- Footer Bottom -->
        <div class="footer-bottom text-light">
            <div class="footer-bottom-shape">
                <img src="assets/img/shape/9.png" alt="Image Not Found">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="footer-logo">
                            <img src="assets/img/logo-light.png" alt="Logo">
                        </div>
                    </div>
                    <div class="col-lg-6 text-end">
                        <p>
                            © Copyright 2024 Restan. All Rights Reserved
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer Bottom -->
    </footer>
    <!-- End Footer -->
    
    <!-- jQuery Frameworks
    ============================================= -->
    <script src="assets/js/jquery-3.6.0.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/jquery.appear.js"></script>
    <script src="assets/js/swiper-bundle.min.js"></script>
    <script src="assets/js/progress-bar.min.js"></script>
    <script src="assets/js/isotope.pkgd.min.js"></script>
    <script src="assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="assets/js/magnific-popup.min.js"></script>
    <script src="assets/js/count-to.js"></script>
    <script src="assets/js/jquery.nice-select.min.js"></script>
    <script src="assets/js/jquery.scrolla.min.js"></script>
    <script src="assets/js/YTPlayer.min.js"></script>
    <script src="assets/js/validnavs.js"></script>
    <script src="assets/js/gsap.js"></script>
    <script src="assets/js/ScrollTrigger.min.js"></script>
    <script src="assets/js/bootstrap-datepicker.js"></script>
    <script src="assets/js/main.js"></script>
    <script>
        // Get the current pathname
        const pathname = window.location.pathname;

        // Split the pathname by '/'
        const numberPart = pathname.substring('/ShowItems'.length);

        // Trim leading or trailing spaces (if any)
        const Number = numberPart.trim();

        // Function to dynamically inject food items into the .food-items-row
        async function loadFoodItems() {
            const response = await fetch(`http://localhost:5000/GetOrder/${Number}`, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                },
            });

            const responseFormat = await response.json();
            const order = responseFormat.data;
            const foodItems = order.Items_Ordered;

            const foodItemsRow = document.querySelector('.food-items-row');
            
            let foodItemHTML = '';

            // Loop through each order group in Items_Ordered
            foodItems.forEach((orderGroup) => {
                // Create a container for the order group
                foodItemHTML += `<div class="food-category-item">`;

                // Loop through each item in the order group
                orderGroup.forEach((item) => {
                    foodItemHTML += `
                        <div class="item-container">
                            <h4><a href="#">${item.Name}</a></h4>
                            <p class="item-quantity">Quantity: ${item.Quantity}</p>
                            <p class="item-price">Price: ₹${item.Price}</p>
                        </div>
                    `;
                });

                foodItemHTML += `</div>`; // Close the order group container
            });

            foodItemsRow.innerHTML += foodItemHTML; // Use innerHTML to append the HTML
        }

        // Call the function to inject the food items when the page loads
        loadFoodItems();

        
    </script>

</body>
</html>